@font-face {
    font-family: 'HackerFont';
    src: url('../fonts/sharetech.ttf') format('truetype');
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    font-family: 'HackerFont', monospace;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    background: transparent;
    cursor: url('../assets/cursor/cursor.png'), auto;
  }
  